html {
    font-family: 'Charter', Garamond, Palatino, Georgia, serif;
    max-width: 80ch;
    margin: 0 auto;
    background-color: #F1F1F1;
}

header {
    text-align: right;
}

h1, h2, h3, .title, .subtitle {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 1.5em;
    margin-bottom: 0;
}

p {
    font-size: 18px;
}


ul li {
    list-style-type: circle;
    margin-bottom: 1.5em;
}

ul li ul li {
    list-style-type: circle;
    margin-bottom: 0em;
}


a {
    color: #267373;
    text-decoration: none;
}

a:hover {
    background-color: #DDEEEE;
}
