/* TODO: Better syntax highlighting */
@import url("/syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("/syntax-theme-light.css") (prefers-color-scheme: light);

:root {
    --bg: #F1F1F1;      /* 95 */
    --fg: #222222;      /* 15 */
    --subtle: #848484;  /* 55 */
    --link-bg: #D1E7E8; /* 200 30 90 */
    --link-fg: #6E9A9C; /* 60 */
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #222222;
        --fg: #F1F1F1;
        --subtle: #B9B9B9;  /* 75 */
        --link-bg: #304B4D; /* 30 */
    }
}

html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.5;
    font-family: sans-serif;

    background-color: var(--bg);
    color: var(--fg);
}

a {
    color: var(--link-fg);
}

a:hover {
    background-color: var(--link-bg);
}

time {
    color: var(--subtle);
}

blockquote {
    color: var(--subtle);
    font-size: 0.9em;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar > a {
    flex: 1;
    text-align: center;
}

/* TODO: How to fill navbar without an empty div? */
.navbar > div {
    flex: 2;
}
