<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    {% block head %}
    <title>savq.github.io</title>
    {% endblock %}
</head>

<body>
    <header>
        <nav class=menu>
            <ul>
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/notes/">Notes</a>
                </li>
                <li>
                    <a href="https://www.github.com/savq">GitHub</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- <footer>
        MAYBE-TODO: Add footer
    </footer> -->
</body>

</html>
