<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/style.css">
    {% block head %}
    <title>savq.github.io</title>
    {% endblock %}
</head>
<body>
    <header class="navbar">
        <div></div>
        <a href="/">savq</a>
        <a href="https://www.github.com/savq">GitHub</a>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    {# <footer></footer> #}
</body>
</html>
