<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/style.css">
    {% block head %}
    <title>savq.github.io</title>
    {% endblock %}
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
</head>
<body>
    <header class="navbar">
        <a href="/">Sergio A. Vargas</a>
        <a href="https://github.com/savq">GitHub</a>
        {# TODO:
        <a href="https://github.com/savq">LinkedIn</a>
        #}
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <a href="https://github.com/savq/savq.github.io">Source</a>
        <a href="/atom.xml">Feed</a>
    </footer>
</body>
</html>
